@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title></title>
</head>
<body>
   <div style="width: auto; background-color: #728ea7;">
      @if (Request.IsAuthenticated)
      {
         <strong>@Html.Encode(User.Identity.Name)</strong>
         @Html.ActionLink("Sign Out", "Logout", "User")
      }
      else
      {
         @Html.ActionLink("Register", "Register", "User")
         <span> | </span>
         @Html.ActionLink("Sign In", "Login", "User")
      }
   </div>
   <div class="container body-content">
      @RenderBody()
      <hr />
      <footer>
         <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
      </footer>
   </div>
</body>
</html>
