@model Cadastro.TB_GrupoPerfil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_GrupoPerfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bloqueado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bloqueado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Todos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Todos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pesquisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pesquisa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inclusao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alteracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delecao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delecao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Impressao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Impressao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exportacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exportacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Empresa.RazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Empresa.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Grupo.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Grupo.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Menu.Caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Menu.Caption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
