@model Cadastro.TB_Grupo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_Grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Area.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Area.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Empresa.RazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Empresa.RazaoSocial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdGrupo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
